{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('admin/users/_form.html.twig') }}

    <button><a href="{{ path('admin_users_list') }}">back to list</a></button>
{% endblock %}
