{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% include "admin/adminnav.html.twig" %}
        <main class="col-9 border border-white bg-light p-2">
        </main>
    </div>
</div>
{% endblock %}