body {

    background: linear-gradient(rgb(139, 183, 195), #0b6581) fixed;
    color: #EEE;
}

* {
    font-family: 'Crimson Text', serif;
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #03053c;
}

img {
    max-width: 100%;
}


body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header img {
    height: 70px;
}

head{
    background-color: plum;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

#map {
    height: 400px;
    width: 50%;
    margin-left: 20px;
    margin-right: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 0 #03053c;
}

.container-contact{
    display: flex;
    grid-template-columns: auto;
}

.travels-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin-right: 0;
}

article {
    text-align: center;
    margin: auto;
    padding: 0;
}

label {
    margin-left: 20px;
    display: block;
}

input,
select,
button{
    margin-left: 20px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    max-width: 50%;
    width: 250px;
}

textarea{
    margin-left: 20px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    max-width: 50%;
    width: 250px;
    height: 80px;
}

button {
    width: 150px;
}



.flash {
    padding:20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {background-color: lawngreen}

.travel-details {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr; grid-gap: 30px;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 20px;
    width: 100%;
    margin-left: 80px;
}

.travel-details-infos > div {
    margin-bottom: 1rem;
}


@media screen and (min-width: 700px) {
    .travel-details {
        grid-template-columns: 400px 1fr;
    }
}

@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        margin-bottom: 1rem;
    }

    td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
    }

    td:before {
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
        padding-right: 10px;
        font-weight: bold;
    }
}