
h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    padding-bottom: 10px;
}

.navbar{
    padding: 0;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

nav a {
    padding: 20px;
    color: inherit;
    text-decoration: none;
}

/*Responsivité pour les tablettes*/
@media(max-width: 810px){
    .navbar {
        width:100%;
        height: 100vh;
        justify-content: center;
    }

    .menu-listing{
        flex-direction: column;
    }

    .menu-listing a {
        box-sizing: border-box;
        display: block;
        font-size: 1.5rem;
    }
}