{% extends 'base.html.twig' %}

{% block title %}Nouveau rendez vous{% endblock %}

{% block body %}
    <h1>Prendre un nouveau rendez vous</h1>

    {{ include('appointment/_form.html.twig') }}

    <button><a href="{{ path('appointment_index') }}">back to list</a></button>
{% endblock %}
